
@media(max-width:500px)
		
	{
		 .BUYNOW{margin-left: 200px}
		 .div1{width: 100%; margin: 0;height: 1000px;}
		.co3{width: 100%; margin-top: -450px;margin-left: 0px}
		 .div1-info{width: 100%; padding-top:500px}
		 .Trusted{margin-top:550px; font-size:20px; text-align:left; }
		 .over{font-size:20px; text-align:left;}
		 .by{font-size:11px; text-align:left; }
		 .bring{font-size:10px; text-align:left;}
		 .pic1{width:50%; margin-top:-180px; margin-left:10px}
		 .pic2{width:50%; margin-top:-100px; margin-left:170px}

		 .Mission{margin-top:200px;width:auto;}
		 .info{margin-top:-600px}

		
	}